name: pls_deploy_staging

on:
  # push:
  #   branches: [ master ]
  workflow_run:
    workflows: [ "create_venv" ]
    branches: [ staging ]
    types: 
      - completed



env:
  PYTHON_VERSION: '3.8'


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python version
        uses: actions/setup-python@v2.2.2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'

      - name: Create and start virtual environment
      - env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          python -m venv .venv
          source .venv/bin/activate
          python -v
          echo "Deploying on staging"
          echo "$GITHUB_CONTEXT"
